MYSQL_IMAGE=mysql:8.0.37
REDIS_IMAGE=redis:7.2-alpine
MINIO_IMAGE=minio/minio:RELEASE.2024-12-18T13-15-44Z
MAVEN_IMAGE=maven:3.9.9-eclipse-temurin-17
JRE_IMAGE=maven:3.9.9-eclipse-temurin-17
NODE_IMAGE=node:20-alpine
NGINX_IMAGE=nginx:alpine
MYSQL_HOST_PORT=3307
REDIS_HOST_PORT=6380
MINIO_API_HOST_PORT=9002
MINIO_CONSOLE_HOST_PORT=9003
MINIO_PUBLIC_ENDPOINT=http://172.26.112.1:9002
BACKEND_HOST_PORT=8081
WEB_HOST_PORT=80
WECHAT_MINIAPP_MOCK_ENABLED=true
WECHAT_MINIAPP_APP_ID=
WECHAT_MINIAPP_SECRET=
